
/* CSS Tableau des nouveaux utilisateurs*/
.newUser{
    margin-top: 215px;
}

/* CSS Tableau des utilisateurs*/
.allUser{

    margin-top: 130px;
    margin-bottom: 140px;

}

/* CSS Bouton revenir en arrière et déconnexion*/
.button-end{
    margin-bottom: 100px;
}