/*CSS FORMULAIRE de modification d'utilisateur*/
.center-div{
    
    width: 230px;
    margin-top: 160px;
    margin-bottom: 95px;
}

.form-label-group {
   position: relative;
   margin-bottom: 1rem;
 }
 

 .form-label-group input {
   border: 1px solid #FF9900;
 }






