/*CSS container*/

.first-container{

  margin-top:140px;
}

/*-- CSS Card--*/
hr.light{
    border-top: 1px solid #fff;
    width: 75%;
    margin-top:.8rem;
    margin-bottom: 1rem;

  }

.thumbnail
  {
    max-width: 210px;
    height: 210px;
    padding:0.25rem;
  
  }
.card{
    box-shadow: 1px 1px 6px #A79B91;
    border-radius: 1rem;
  
  }

  
.img-fa{
    width: 360px;
    height: 130px;
    overflow: hidden;
  }


/*CSS font amesome icon*/
.svg-inline--fa.fa-w-18, .svg-inline--fa.fa-w-16, .svg-inline--fa.fa-w-14{

  width: 5.125em;
  height: 9rem;
}

.fa-id-card{

  color: #FF9900;
}

.fa-newspaper{

  color: #5F83D7;
}

.fa-edit{

  color: #5ED25E
}

.fa-sign-out-alt{

  color:#FD5458;
}
  