
/*--CSS Tableau de tous les Evenement--*/
.allEvents{

    margin-top: 130px;
    margin-bottom: 140px;

}

/*---CSS FORM Ajouter Evenement---*/

.form_add_event{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 50px;
}


.form-label-group {
    position: relative;
    margin: 5px 10px 5px 0;
  }


.form-label-group input {
    border: 1px solid #FF9900;
  }


.btn-success{

    margin: 5px 10px -18px 0;

}

/* CSS Bouton revenir en arrière et déconnexion*/
.button-end{
    margin-bottom: 100px;
    margin-top: 100px
}
