
/*--CSS Tableau de tous les jeux--*/
.allAdd{

    margin-top: 130px;
    margin-bottom: 140px;

}

.allAdd img{

    max-width: 100%;

}
.danger{
    margin:15px 0px 0px 0px;
}


/* CSS Bouton revenir en arrière et déconnexion*/
.button-end{
    margin-bottom: 100px;
}